.div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    height: 120px;
    background-color: #807272;

    gap: 38px;
}
.btn_style
{
    background-color: #D9D9D9;
}
.active_btn_style
{
    background-color: #A3FFB7;
}