.div
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.products
{
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    flex-grow: 1;
    margin-top: 20px;
    margin-left: 111px;

}
.product
{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    margin-top: 57px;
}
.wish_list
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;

    width: 500px;

    background-color: #BFAAAA;
}
.btn_add{
    background-color: #FFFFFF;
    border: 1px solid black;
}
.btn_korzina
{
    margin-top: 77px;
    background-color: #FFFFFF;
    border: 1px solid black;
}
.p_catalog
{
    margin-top: 140px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
.btn_catalog
{
    background-color: #FFFFFF;
    border: 1px solid black;
}